/** @format */

html {
	/* Bulma doesn't have an option for dark mode colours, so I've got to override the background colour here. */
	background: #282a36;
}

/* Setting those dark mode colours #draculatheme4lyfe */
.card,
.box,
label {
	background: #44475a;
	color: #f8f8f2;
	min-height: 100%;
}

.input,
.button {
	color: #f8f8f2;
	background-color: #6272a4;
	border-color: #6272a4;
}

.button:hover {
	color: #f8f8f2;
	background-color: #6272a4;
	border-color: #6272a4;
}

.card-header {
	font-size: 1.4rem;
	background: #4a4d60;
}

h2,
label,
.card-header-title {
	color: #f8f8f2 !important;
	margin-top: 0.5em;
}

.weather {
	background: #5d6175;
	box-shadow: 3px 3px 3px #1c1c1c4f;
}

.card-content {
	text-transform: capitalize;
}

.card.first-card {
	margin-top: 30px;
}


/*
	gradients from
	from https://cssgradient.io/
*/
.weather-card .gradient {
	font-weight: bold;
	background: rgb(255,255,255);
}
.weather-card .gradient.red {
	background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(162,0,33,1) 100%); 
}

.weather-card .gradient.blue {
	background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,194,255,1) 100%);
}

.weather-card .gradient.orange {
	background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,175,0,1) 100%);
}

.weather-card hr {
	background-color: #4a4d60;
}
.weather-card table {
	color: #f8f8f2;
	background-color: #4a4d60;
}
.weather-card th,
.weather-card td {
	color: #f8f8f2;
	border-color: #44475a;
}

.weather-card .card-header-date {
	font-weight:bold;
	color: #44475a;
	background: #f8f8f2;
	padding: 2px;
	margin: 5px 10px 5px 5px;
	border-radius: 2px;
}

.weather-card .card-header-day {
	padding: 6px;
}
.weather-card figcaption {
	font-size: 1.2rem;
	font-weight: bold;
}
.weather-card .weekday-meal-container {
	position: relative;
}
.weather-card .meal-remove {
	cursor: pointer;
	position: absolute;
	color: #44475a;
	background: #f8f8f2;    
	right: -11px;
	top: -11px;
  width: 22px;
  border-radius: 16px;
  height: 22px;
  padding-left: 6px;
}
.weather-card .select select {
	color: #f8f8f2;
	background: #44475a;
	width:139px;    
	-moz-appearance:none !important;
  -webkit-appearance: none !important; 
  appearance: none !important;
  padding-right:0px;
}
.weather-card.day-0 .select select {
	width:300px;    
}
.weather-card .select::after {
	display: none !important;
}
#clock {
	font-size: 44px;
}

.button {
	margin-top: 1.5em;
}

h2,
label,
.card-header-title {
	color: #f8f8f2 !important;
	margin-top: 0.5em;
}

#APOTD .card-header {
	text-indent: 2rem;
}
#APOTD-image {
	float:left;
	margin-right:10px;
	max-height: 300px;
	max-width: 300px;
}
#APOTD-title {
	font-weight: bold;
	text-indent: 1rem;
}
#APOTD-deets {
	text-indent: 2rem;
	margin: 5px;
}
.button {
	margin-top: 1.5em;
}


#JOKES .card{
	min-height: 0px;
} 
#JOKES .card-header {
	text-indent: 2rem;
}
